@use '@angular/material' as mat;
@use '../../../styles/palettes' as palette;

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0 1px 2px 2px mat.get-color-from-palette(palette.$gray-palette, 500);
  transition: box-shadow 0.2s ease-in;
  margin: 0 auto;
  text-decoration: none;
  color: mat.get-color-from-palette(palette.$blue-palette, 900);
  min-width: 320px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-in;
  }

  &--carousel {
    &:hover {
      .event-card__hashtags-container {
        animation-play-state: running;
      }
    }
  }
  max-width: 360px;
  border-radius: 8px;
  &__img {
    background-image: url('/assets/eventpicture.png');
    background-color: mat.get-color-from-palette(palette.$gray-palette, 500);
    width: 100%;
    min-height: 150px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }

  &__location,
  &__date,
  &__number {
    display: flex;
  }

  &__number {
    margin-left: 4px;
  }

  &__category {
    top: 16px;
    padding: 4px;
    left: 0;
    text-align: center;
    position: absolute;
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
    background-color: mat.get-color-from-palette(palette.$blue-palette, 500);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 0;
    max-width: 130px;
    text-align: center;
    position: absolute;
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
    background-color: mat.get-color-from-palette(palette.$red-palette, 500);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: right;
    padding: 4px;
    line-height: 14px;
  }

  &__paragraph {
    display: flex;
    align-items: center;
  }

  &__confirmation-paragraph {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 4px;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
    background-color: mat.get-color-from-palette(palette.$blue-palette, 500);
    border-bottom-left-radius: 8px;
    opacity: 0.9;
    border-bottom-right-radius: 8px;
  }

  &__user {
    padding-right: 26px;
  }

  &__title {
    text-transform: uppercase;
    overflow: hidden;
    max-width: calc(100%);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__header {
    width: 100%;
    display: flex;
    padding: 8px 8px 0 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }

  &__hashtags-wrapper {
    overflow: hidden;
    position: relative;
  }

  &__hashtags {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    width: max-content;
    overflow: hidden;
  }

  &__hashtags-container {
    animation: slide 7s linear infinite both;
    animation-play-state: paused;
    display: flex;
    width: max-content;
    list-style-type: none;
  }

  &__hashtag {
    border: 2px solid mat.get-color-from-palette(palette.$blue-palette, 500);
    padding: 4px 16px;
    border-radius: 8px;
    color: mat.get-color-from-palette(palette.$blue-palette, 500);
    word-break: break-all;
  }
}

@media (pointer: coarse) {
  .event-card {
    &__hashtags-wrapper {
      overflow: scroll;
    }

    &__hashtags {
      &--doubled {
        display: none;
      }
    }

    &__hashtags-container {
      animation: none !important;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
