<app-cow-loader></app-cow-loader>
<ng-container *ngIf="groupList$ | async as groups; else error">
  <div class="group-list main-container">
    <h3 class="font-heading-3">Lista Grup</h3>
    <app-group-list-item *ngFor="let group of groups" [groupItem]="group"></app-group-list-item>
  </div>
  <button class="group-list__button" mat-fab extended color="primary">Stwórz grupę</button>
</ng-container>
<ng-template #error>
  <div *ngIf="errorClientServer$ | async">
    <app-error></app-error>
  </div>
</ng-template>
