<form [formGroup]="joinForm" (ngSubmit)="submitForm()" class="form font-text-1">
  <input
    placeholder="Imię"
    formControlName="firstName"
    class="form__input font-text-1"
    [class.form__error]="joinCtrl.firstName.errors && joinCtrl.firstName.touched" />
  <ng-container *ngIf="joinCtrl.firstName.errors as errors">
    <ng-container *ngIf="joinCtrl.firstName.touched">
      <p *ngIf="errors['required']" class="form__error__text font-text-1">To pole jest obowiązkowe!</p>
    </ng-container>
  </ng-container>
  <input
    placeholder="Nazwisko"
    formControlName="lastName"
    class="form__input font-text-1"
    [class.form__error]="joinCtrl.lastName.errors && joinCtrl.lastName.touched" />
  <ng-container *ngIf="joinCtrl.lastName.errors as errors">
    <ng-container *ngIf="joinCtrl.lastName.touched">
      <p *ngIf="errors['required']" class="form__error__text font-text-1">To pole jest obowiązkowe!</p>
    </ng-container>
  </ng-container>
  <input
    placeholder="E-Mail"
    formControlName="email"
    class="form__input font-text-1"
    [class.form__error]="joinCtrl.email.errors && joinCtrl.email.touched" />
  <ng-container *ngIf="joinCtrl.email.errors as errors">
    <ng-container *ngIf="joinCtrl.email.touched">
      <p *ngIf="errors['required']" class="form__error__text font-text-1">To pole jest obowiązkowe!</p>
      <p *ngIf="errors['email']" class="form__error__text font-text-1">Proszę podać właściwy adres e-mail</p>
    </ng-container>
  </ng-container>
  <button mat-raised-button class="form__button">Zarezerwuj</button>
</form>
