<app-cow-loader></app-cow-loader>
<ng-container *ngIf="singleEvent$ | async as singleEvent">
  <div class="event main-container">
    <ng-container *ngIf="singleEvent.eventInfo.group">
      <div class="event__group-private-label">
        <div class="event__group-private-label-text">
          <p class="font-text-1">
            Grupa
            <br />
            {{ singleEvent.eventInfo.group.name | titlecase }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="singleEvent.eventInfo.isPrivate"
      ><div class="event__group-private-label">
        <div class="event__group-private-label-text">
          <div class="event__group-private-label-text-icons">
            <p class="font-text-1">
              Wydarzenie <br />
              prywatne
            </p>
            <mat-icon fontIcon="lock" class="event__white-icon"></mat-icon>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="event__heading">
      <div class="event__title-container">
        <h1 class="$heading-1">{{ singleEvent.eventInfo.name | titlecase }}</h1>
      </div>
      <ng-container *ngIf="eventMenu$ | async as eventMenu">
        <app-settings class="event__settings" [options]="eventMenu"></app-settings>
      </ng-container>
    </div>
    <ng-container *ngIf="singleEvent.eventInfo.isConfirmationRequired">
      <div class="event__required-confirmation">
        <p class="font-text-1" class="event__required-confirmation-text">Zapis obowiązkowy</p>
      </div>
    </ng-container>
    <ng-container *ngIf="singleEvent.eventInfo.limitedPlaces">
      <p class="font-text-1">
        Liczba dostępnych miejsc:
        {{ singleEvent.eventInfo.limitedPlaces - singleEvent.eventInfo.eventParticipationStats.accepted }}
      </p>
    </ng-container>

    <div class="event__category-picture">
      <img
        class="event__category-picture-image"
        alt="`{{ singleEvent.eventInfo.category.name }}`"
        src="assets/eventpicture.png" />
    </div>
    <ng-container *ngIf="singleEvent.eventInfo.cycleLenght"
      ><p class="event__is-cyclic">Wydarzenie cykliczne</p>
    </ng-container>

    <div class="event__information-container">
      <div class="event__basic-information">
        <p class="font-text-1">
          Adres: {{ singleEvent.eventInfo.location.street }}, {{ singleEvent.eventInfo.location.postCode }}
          {{ singleEvent.eventInfo.location.city }}
        </p>

        <p class="font-text-1">Data: {{ singleEvent.eventInfo.startDate }}</p>

        <p class="font-text-1">Godzina: {{ singleEvent.eventInfo.hour }}</p>

        <p class="font-text-1">Kategoria: {{ singleEvent.eventInfo.category.name }}</p>
      </div>
    </div>
    <app-event-map [coordinates]="singleEvent.eventInfo.location"></app-event-map>
  </div>
</ng-container>
