@use '@angular/material' as mat;
@use '../../../styles/palettes' as palette;

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__heading {
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-container {
    width: 100%;
    margin-left: 72px;
  }

  &__settings {
    padding: 8px;
  }

  &__group-private-label {
    background-color: mat.get-color-from-palette(palette.$blue-palette, 500);
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
    padding: 4px 16px;
    width: 100%;

    &-text {
      word-break: break-all;
      text-align: center;

      &-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
    }
  }

  &__is-cyclic {
    color: mat.get-color-from-palette(palette.$red-palette, 500);
  }
  &__required-confirmation {
    text-transform: uppercase;
    background-color: mat.get-color-from-palette(palette.$gray-palette, 300);
    border-style: solid;
    border-color: mat.get-color-from-palette(palette.$red-palette, 500);
    padding: 8px 24px;

    &-text {
      color: mat.get-color-from-palette(palette.$red-palette, 500);
    }
  }

  &__category-picture {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
  &__information-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  &__basic-information {
    flex-direction: column;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
  }

  &__join-event {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__description {
    text-align: justify;
    width: 100%;

    &-title {
      padding-bottom: 16px;
    }
  }
  &__white-icon {
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
  }
  &__hashtags {
    width: 80%;
    ol {
      display: flex;
      gap: 16px;
      list-style-type: none;
      flex-wrap: wrap;
    }
    li {
      border: solid mat.get-color-from-palette(palette.$blue-palette, 500);
      color: mat.get-color-from-palette(palette.$blue-palette, 500);
      border-radius: 10px;
      padding: 4px 8px;
    }
  }
}

.mat-mdc-button {
  border-radius: 20px;
  .text {
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
  }
  .mat-icon {
    margin-right: 0;
  }
}
.accepted {
  background-color: mat.get-color-from-palette(palette.$green-palette, 500);
}

.pending {
  background-color: mat.get-color-from-palette(palette.$blue-palette, 500);
}

.rejected {
  background-color: mat.get-color-from-palette(palette.$red-palette, 900);
}
