<div class="main-container search-bar">
  <mat-form-field class="search-bar__input" appearance="fill">
    <mat-label>Search...</mat-label>
    <input [formControl]="searchControl" matInput [matAutocomplete]="auto" />
    <mat-icon matSuffix fontIcon="search"></mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <ng-container *ngIf="events | async as events">
        <mat-optgroup *ngIf="events.length" label="Wydarzenia">
          <mat-option *ngFor="let event of events">{{ event.name }}</mat-option>
        </mat-optgroup>
      </ng-container>
      <ng-container *ngIf="groups | async as groups">
        <mat-optgroup *ngIf="groups.length" label="Grupy">
          <mat-option *ngFor="let group of groups">{{ group.name }}</mat-option>
        </mat-optgroup>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
