@use '@angular/material' as mat;
@use '../../../../styles/palettes' as palette;

.comment {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 230px;
    padding: 8px;
    &__name {
        align-self: baseline;
        border: 1px solid mat.get-color-from-palette(palette.$gray-palette, 900);
        background-color: mat.get-color-from-palette(palette.$gray-palette, 500);
        border-radius: 8px;
        padding: 8px 16px 8px 16px;
        flex-wrap: wrap;
    }
    &__text {
        border: 1px solid mat.get-color-from-palette(palette.$gray-palette, 900);
        background-color: mat.get-color-from-palette(palette.$gray-palette, 500);
        border-radius: 8px;
        padding: 8px 16px;
    }
    &__date {
        padding-left: 16px;
    }
}