.error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .error__text{
        text-align: center;
    }
    .error__logo {
        display: flex;
        justify-content: center;
        padding: 32px;
        .error__logo__image{
            max-width: 274px;
        }
    }
}