<form [formGroup]="addCategory" (ngSubmit)="submitForm()" class="form font-text-1">
  <mat-form-field color="primary" class="form__field">
    <mat-label>Nazwa kategorii</mat-label>
    <input matInput formControlName="name" class="font-text-1" />
    <mat-error *ngIf="nameCtrl.errors as errors">
      <ng-container *ngIf="errors['required']; else errorMinLength">To pole jest obowiązkowe!</ng-container>
      <ng-template #errorMinLength>
        <ng-container *ngIf="errors['minlength'] as minLength; else errorMaxLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{ minLength.requiredLength }}.
        </ng-container>
      </ng-template>
      <ng-template #errorMaxLength>
        <ng-container *ngIf="errors['maxlength'] as maxLength; else errorSymbols"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.
        </ng-container>
      </ng-template>
      <ng-template #errorSymbols>
        <ng-container *ngIf="errors['pattern'] as pattern; else trailingSpace"
          >Niedozwolne znaki specjalne.</ng-container
        >
      </ng-template>
      <ng-template #trailingSpace>
        <ng-container *ngIf="errors['leadingOrTrailingSpace'] as space; else tooManySpaces"
          >Spacja na początku lub końcu!</ng-container
        >
      </ng-template>
      <ng-template #tooManySpaces>
        <ng-container *ngIf="errors['tooManySpaces'] as space">Spacje między wyrazami!</ng-container>
      </ng-template>
    </mat-error>
  </mat-form-field>
  <ng-container *ngIf="error$ | async as error">
    <app-error></app-error>
  </ng-container>
  <div class="form__buttons">
    <button mat-button class="btn-round" mat-flat-button color="primary">Wyślij</button>
    <button type="button" mat-button class="btn-round" mat-flat-button color="primary" routerLink="/categories">
      Anuluj
    </button>
  </div>
</form>
