<h1 class="$heading-1">MOOVELO</h1>
<form [formGroup]="loginForm">
  <input
    [class.error]="loginForm.controls.email.errors && loginForm.controls.email.touched"
    formControlName="email"
    placeholder="E-mail" />
  <input
    [class.error]="loginForm.controls.email.errors && loginForm.controls.email.touched"
    type="password"
    formControlName="password"
    placeholder="Hasło" />
  <ng-container *ngIf="loginForm.controls.email.errors as errors">
    <p color="primary" *ngIf="errors['maxlength']">Email nie może być dłuższy niż 100 znaków.</p>
    <p color="primary" *ngIf="errors['pattern']">"Podaj poprawny adres email według wzoru: nazwa@domena.pl</p>
  </ng-container>
  <p
    *ngIf="(passwordCtrl.errors?.['required'] &&
       passwordCtrl.touched) ||
      (emailCtrl.errors?.['required'] &&
       emailCtrl.touched)
    ">
    Pola nie mogą byc puste.
  </p>

  <button mat-button class="login" (click)="checkValidationAndAuth()">Zaloguj</button>
</form>
