<div class="event-card">
  <div class="event-card__img">
    <div class="event-card__category">{{ eventCard.eventInfo.category.name }}</div>
    <div class="event-card__confirmation" *ngIf="eventCard.eventInfo.isConfirmationRequired">
      <mat-icon aria-hidden="false" aria-label="user" fontIcon="report_problem" class="event-card__user"></mat-icon>
      <p class="event-card__confirmation-paragraph">Potwierdzenie obowiązkowe</p>
    </div>
    <div class="event-card__type">
      <div class="event-card__visibility" *ngIf="eventCard.eventInfo.isPrivate">Publiczne</div>
      <div class="event-card__cyclic" *ngIf="eventCard.eventInfo.group">Grupowe</div>
      <div class="event-card__cyclic" *ngIf="eventCard.eventInfo.isCyclic">Cyklicze</div>
    </div>
  </div>
  <div class="event-card__header">
    <div class="event-card__title">
      <h3 class="font-heading-3">{{ eventCard.eventInfo.name }}</h3>
    </div>
    <div class="event-card__number">
      <mat-icon
        aria-hidden="false"
        aria-label="user"
        fontIcon="supervisor_account_icon"
        class="event-card__user"></mat-icon>
      <p class="event-card__paragraph">
        {{ eventCard.eventInfo.acceptedStatusUsers }}
      </p>
    </div>
  </div>
  <div class="event-card__info">
    <div class="event-card__date">
      <mat-icon aria-hidden="false" aria-label="user" fontIcon="calendar_today" class="event-card__user"></mat-icon>
      <p class="event-card__paragraph">
        {{ eventCard.eventInfo.startDate }}
      </p>
    </div>
    <div class="event-card__location">
      <mat-icon aria-hidden="false" aria-label="user" fontIcon="location_on" class="event-card__user"></mat-icon>
      <p class="event-card__paragraph">
        {{ eventCard.eventInfo.city }}
      </p>
    </div>
  </div>
  <ng-container *ngIf="eventCard.eventInfo.hashtags as hashtags">
    <div class="event-card__hashtags">
      <div class="event-card__hashtag font-text-1" *ngFor="let hashtag of hashtags">#{{ hashtag.value }}</div>
    </div>
  </ng-container>
</div>
