<div class="event-participants-list">
  <ul>
    <p class="font-heading-3">Użytkownik:</p>
    <li class="event-participants__list__item font-text-1" *ngFor="let participant of participantsList">
      {{ participant.firstName }} {{ participant.lastName }}
    </li>
    <ng-container *ngIf="visitorList">
      <p class="font-heading-3">Gość:</p>
      <li class="event-participants__list__item font-text-1" *ngFor="let visitor of visitorList">
        {{ visitor.firstName }} {{ visitor.lastName }}
      </li>
    </ng-container>
  </ul>
</div>
