@use '@angular/material' as mat;
@use '../../../styles/palettes' as palette;

.event-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // grid-template-columns: 1fr;
  gap: 32px;
  align-items: center;
  &__button {
    position: sticky;
    bottom: 2%;
    left: 100%;
    margin-right: 16px;
  }

  & > * {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .event-list {
    display: grid;
    justify-content: center;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    gap: 32px;
    // grid-template-areas:
    //   '. .'
    //   '. .';
  }
}

@media (min-width: 1050px) {
  .event-list {
    display: grid;
    justify-content: center;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
    // grid-template-areas:
    //   '. . .'
    //   '. . .';
  }
}
