.event-list {
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px 8px;

  &__tab-group {
    position: relative;
  }

  &__events {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 16px;
  }

  &__button {
    position: sticky;
    bottom: 2%;
    left: 100%;
    margin-right: 16px;
  }
}

::ng-deep div.mat-mdc-tab-body-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
}
