<app-cow-loader></app-cow-loader>
<ng-container *ngIf="eventListState$ | async as eventListState; else error">
  <ng-container *ngIf="categories$ | async as categories; else error">
    <div class="main-container">
      <app-filter-sort [isFiltersHidden]="eventListState.isFiltersHidden" [categories]="categories"></app-filter-sort>
      <div class="event-list">
        <app-event-card-new [eventCard]="eventListState.events[0]"></app-event-card-new>
      </div>
      <ng-container *ngIf="userType$ | async as userType">
        <button
          *ngIf="userType !== 'admin'"
          class="event-list__button"
          mat-fab
          extended
          color="primary"
          routerLink="/create-event">
          <p>Stwórz</p>
          <p>wydarzenie</p>
        </button>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-template #error>
  <app-error></app-error>
</ng-template>
