<form class="details-form main-container" [formGroup]="eventDetailsForm" (ngSubmit)="handleSubmit()">
  <div class="blue-container">
    <h2 class="details-form__title font-heading-2">Dodaj wydarzenie {{ title }}</h2>
    <mat-form-field color="primary">
      <mat-label>Nazwa wydarzenia</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="nameCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['minlength'] as minLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{ minLength.requiredLength }}.</ng-container
        >
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
    </mat-form-field>
  </div>
  <div class="toggle">
    <mat-label class="toggle__label">Potwierdzenie obowiązkowe</mat-label>
    <mat-slide-toggle color="primary" formControlName="isConfirmationRequired"></mat-slide-toggle>
  </div>
  <div class="toggle" *ngIf="isConfirmationRequiredCtrl.value">
    <mat-label class="toggle__label">Ograniczona liczba miejsc</mat-label>
    <mat-slide-toggle color="primary" formControlName="isLimitedPlaces"></mat-slide-toggle>
  </div>
  <fieldset class="fieldset">
    <mat-form-field *ngIf="isLimitedPlacesCtrl.value" color="primary">
      <mat-label>Liczba osób</mat-label>
      <input matInput formControlName="limitedPlaces" type="number" />
      <mat-error *ngIf="limitedPlacesCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['min']">L. osób musi być większa od 0.</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" [min]="today" formControlName="startDate" />
      <mat-error *ngIf="startDateCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['matDatepickerMin']">Data nie może być w przeszłości.</ng-container>
      </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Godzina</mat-label>
      <input matInput formControlName="hour" type="time" [errorStateMatcher]="hourMatcher" />
      <mat-error *ngIf="eventDetailsForm.hasError('isHourInThePast')">Godzina nie może być w przeszłości.</mat-error>
      <mat-error *ngIf="hourCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Kod pocztowy</mat-label>
      <mat-hint>np. 00-000</mat-hint>
      <input matInput formControlName="postCode" />
      <mat-error *ngIf="postCodeCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['pattern']">Kod pocztowy jest w złym formacie.</ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Miasto</mat-label>
      <input matInput formControlName="city" />
      <mat-error *ngIf="cityCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['minlength'] as minLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{ minLength.requiredLength }}.</ng-container
        >
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Ulica</mat-label>
      <input matInput formControlName="street" />
      <mat-error *ngIf="streetCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['minlength'] as minLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{ minLength.requiredLength }}.</ng-container
        >
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Numer domu</mat-label>
      <input matInput formControlName="streetNumber" />
      <mat-error *ngIf="streetNumberCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field color="primary" class="fieldset__input">
      <mat-label>Lokal</mat-label>
      <input matInput formControlName="apartmentNumber" />
      <mat-error *ngIf="apartmentNumberCtrl.errors as errors">
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
    </mat-form-field>
  </fieldset>
  <div class="blue-container">
    <h3 class="font-heading-3">Opis wydarzenia</h3>
    <mat-form-field color="primary" appearance="fill" class="details-form__description">
      <textarea
        formControlName="description"
        matInput
        placeholder="Dodaj opis..."
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="15"></textarea>
      <mat-error *ngIf="descriptionCtrl.errors as errors">
        <ng-container *ngIf="errors['required']">To pole jest wymagane.</ng-container>
        <ng-container *ngIf="errors['minlength'] as minLength"
          >Min. liczba znaków: {{ minLength.actualLength }}/{{ minLength.requiredLength }}.</ng-container
        >
        <ng-container *ngIf="errors['maxlength'] as maxLength"
          >Maks. liczba znaków: {{ maxLength.actualLength }}/{{ maxLength.requiredLength }}.</ng-container
        >
      </mat-error>
      <mat-hint>Liczba znaków: {{ descriptionCtrl.value.length }}/4000 </mat-hint>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary">Zatwierdź</button>
</form>
