<nav class="nav-bar main-container">
  <div class="nav-bar__container">
    <a routerLink="/">
      <header class="nav-bar__logo">
        <img src="./assets/cow-grey.svg" alt="logo aplikacji moovelo" class="nav-bar__image" />
        <p class="nav-bar__padding">Moovelo</p>
      </header>
    </a>
    <div class="nav-icons">
      <mat-icon
        aria-hidden="false"
        aria-label="notyfikacje"
        fontIcon="notifications"
        class="nav-icons__notifications"></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="menu"
        class="nav-icons__menu"
        [fontIcon]="menu ? 'clearSharp' : 'menu'"
        (click)="showMenu()"></mat-icon>
    </div>
  </div>
  <div class="main-container" [ngClass]="menu ? 'nav-menu' : 'nav-menu--hide'">
    <ul>
      <li class="nav-menu__list-item" *ngFor="let value of navbarList[0]; let i = index">
        <a class="nav-menu__link" routerLink="/{{ navbarList[1][i] }}">{{ value }} </a>
      </li>
      <li class="nav-menu__list-item">
        <a class="nav-menu__link" (click)="handleLogout()">Wyloguj</a>
      </li>
    </ul>
    <div [ngClass]="menu ? 'nav-menu--blur' : ''" (click)="showMenu()"></div>
  </div>
  <app-search-bar [ngClass]="menu ? 'search-bar--hidden' : 'search-bar--visible'" class="search-bar"></app-search-bar>
</nav>
