@use '@angular/material' as mat;
@use '../../../styles/palettes' as palette;

.nav-bar {
  margin-bottom: 8px;
  top: 0;
  position: sticky;
  transition-duration: 300ms;
  transform: translateY(0);
  z-index: 999;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: mat.get-color-from-palette(palette.$gray-palette, 100);
  }
  &--visible {
    transform: translateY(-100%);
    transition-duration: 300ms;
  }
  z-index: 10;
}

.nav-menu {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  color: mat.get-color-from-palette(palette.$gray-palette, 100);
  transition-duration: 500ms;
  transform: translateY(120px);
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;

    list-style-type: none;
    background-color: mat.get-color-from-palette(palette.$blue-palette, 500);
    border-top: 1px solid mat.get-color-from-palette(palette.$gray-palette, 100);
  }
  &--blur {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: mat.get-color-from-palette(palette.$gray-palette, 100);
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
  &--hide {
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: -1;
    transform: translateY(-100%);
    transition-duration: 500ms;
  }
  &__link {
    color: mat.get-color-from-palette(palette.$gray-palette, 100);
    text-decoration: none;
  }
}

.nav-bar {
  &__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px;
  }
  &__image {
    width: 25%;
  }

  &__padding {
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
  }
}

.nav-icons {
  display: flex;
  justify-content: center;
  padding: 8px;
  &__notifications {
    margin-right: 16px;
  }
  &__menu {
    margin-right: 8px;
  }
}

.search-bar {
  position: sticky;

  &--visible {
    z-index: 0;
    transition-property: z-index;
    transition-delay: 500ms;
  }

  &--hidden {
    z-index: 2;
  }
}
