@use '@angular/material' as mat;
@use '../../../styles/palettes' as palette;

.surveys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__single {
        display: flex;
        flex-direction: column;
        &__header {
            padding: 8px;
            background-color: ghostwhite;
        }
    }
}