@use '@angular/material' as mat;
@import './app/styles/_palettes';

@include mat.core();

$blue-primary: mat.define-palette($blue-palette, 500);
$red-accent: mat.define-palette($red-palette, 500);
$red-warn: mat.define-palette($red-warn-palette, 500);

$moovelo-main-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue-primary,
      accent: $red-accent,
      warn: $red-warn,
    ),
  )
);

@include mat.all-component-themes($moovelo-main-theme);

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html,
body {
  height: 100%;
}
