@use '@angular/material' as mat;
@use '../../styles/palettes' as palettes;

.footer {
  border-top: 2px solid mat.get-color-from-palette(palettes.$blue-palette, 900);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  margin-top: 8px;
  &__watermark {
    color: mat.get-color-from-palette(palettes.$gray-palette, 900);
  }
  &__mail {
    text-decoration: none;
    color: mat.get-color-from-palette(palettes.$blue-palette, 900);
  }
}
