.group-item-container {
    padding: 8px 16px;
    position: relative;
}

.group-item {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #F5F5F5;
}

.group-item-container button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.group-name {
    font-size: 21.33px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.group-name, .group-desc {
    text-align: center;
    line-height: 90%;
    padding: 16px 0px;
}